

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">COVID-19 Tracking App</h1>
    <p class="lead">Your source for tracking the spread of COVID-19 by country!</p>
  </div>
</div>

<div class="form-group">
  <label for="enterCountryToSearch">Please Enter Country to Search</label>
  <input type="country" class="form-control" id="enterCountryToSearch">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>
{{!-- <ul>
  {{#each countries}}
  <li>
    <p>ID: {{this.id}}</p>
    <p>Country Name: {{#each this.countryName}}</p>
    <p>COVID-19 Incidents: {{#each this.incidents}}</p>
    <p>COVID-19 Deaths: {{#each this.deaths}}</p>
  </li>
  {{/each}}
</ul>

<form action="/" method="POST">
<textarea type="text" name="countries"></textarea>
</form> --}}
